body{
    background-color: lightblue;
    color: white;
    width: 300px;
    font-family: Verdana, Helvetica, Arial, sans-serif;

}
.box{
    padding-top: 5px;
    padding-left: 20px;
    font-size: 20px;
}
